<template>
    <div class="row">
        <input type="hidden" :value="categorySubject" name="category_subject">

        <label for="education_id">Категория</label>
        <select  @change="onCategoryChange"  name="category" class="form-select" v-model="currentCategoryId">
            <option value="0">не выбрано</option>
            <option v-for="category in categories" :value="category.id">{{category.name}}</option>
        </select>
    </div>
    <div class="row">
        <label for="education_id">Предмет</label>
        <select name="subject" @change="onSubjectChange"  class="form-select" v-model="currentSubjectId">
            <option value="0">не выбрано</option>
            <option v-for="subject in subjects" :value="subject.id">{{subject.name}}</option>
        </select>
    </div>

</template>

<script>
export default {
    name: "firstApp",
    props: {
        categories: {type: Array},
        subjectId: {default: 0},
        categoryId: {default: 0}

    },
    data(){
        return{
            subjects: Array,
            categorySubject: [],
            categoryIndex: 0,
            currentSubjectId: 0,
            currentCategoryId: 0
        }
    },
    methods:{
        onCategoryChange(){
            const index = this.categories.findIndex(obj => obj.id === this.currentCategoryId)
            if (index === -1) {
                this.subjects=[]
                this.currentSubjectId = 0
            }
            else {
                this.subjects = this.categories[index].subjects
                this.categoryIndex = index
                this.categorySubject=0
            }
        },
        onSubjectChange(subjectId){
            // const index = this.categories[this.categoryIndex].subjects.findIndex(obj => obj.id == event.target.value)
            //
            //   this.categorySubject = this.categories[this.categoryIndex].subjects[index].pivot.id

        }
    },
    mounted() {
        if (this.categoryId !== 0) {
            this.currentSubjectId = this.subjectId
            this.currentCategoryId = this.categoryId
            this.onCategoryChange(this.currentSubjectId )
        }
    }
}
</script>

<style scoped>

</style>
