<template>
    <div class="container-fluid row h-100 ">
        <div v-if="!(rooms.data.length >0) && !currentRoom" class="text-center h1">Пока чатов нет{{ rooms.data }}</div>
        <div class="col-3 border-end  h-100" style="overflow: auto">
            <a v-for="room in rooms.data" :href="'/chat/' + room.id" class="text-reset text-decoration-none"

            >
                <div class="bg-light mt-1 container">
                    <div class="row">
                        <span class="text-start">
                        </span>
                    </div>
                    {{ room.another_user[0].name }} {{ room.another_user[0].last_name }}
                    <div class="row">
                        {{ (room.latest_message.length > 10) ? room.latest_message.slice(0, 15) + '...' : room.latest_message }}
                        <span class="text-end">{{ moment(room.latest_message_date) }} </span>
                    </div>
                </div>
            </a>

            <button class="btn btn-light w-100" v-if="rooms.next_page_url" @click="getRooms">Загрузить еще</button>
        </div>


        <div class="col" v-if="currentRoom">

            <div class="row bg-body border-bottom">

                <p class=" text-center h3">
                    {{ currentRoom.another_user[0].name + ' ' + currentRoom.another_user[0].last_name }}
                </p>
            </div>
            <div class="row   position-relative scroll container1"
                 style="height: calc(100vh - 127px)"
                 id="container" ref="container"

            >

                <div class=" flex-grow-0 py-3 px-4   "
                     style="position : absolute; bottom   : 0"
                >
                    <div style="overflow: auto;  height: calc(100vh - 215px)">
                        <div v-if="messages.data">
                            <button class="btn btn-light w-100" @click="getMessages" v-if="messages.next_page_url">
                                Загрузить еще
                            </button>

                            <div v-for="message in messages.data">

                                <p style="color:dodgerblue"> {{ message.user.name }} {{ message.user.middle_name }}</p>
                                <p>{{ message.message }} </p>

                            </div>
                        </div>
                    </div>
                    <form class="input-group border-top" v-on:submit.prevent="sendMessage">
                        <input type="hidden" name="_token" :value="csrf">
                        <textarea type="text" class="form-control" name="message" placeholder="Введите ваше сообщение"
                                  v-model="message"
                                  @keyup.enter="sendMessage"
                        ></textarea>
                        <button class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
import moment from 'moment'

export default {
    name: "ChatList",
    props: {
        currentRoom: {
            required: false
        }
    },
    data() {
        return {
            message: '',
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            messages: {
                next_page_url: '',
                data: [],
                path: ''

            },
            rooms: {
                next_page_url: '/chat/rooms',
                data: []
            },
        }
    },
    methods: {
        // scrollToEnd(){
        //   const container =this.$refs.container
        //     const height = container.scrollHeight
        //    container.scrollTop = height
        //     console.log( container)
        // },
        moment(date) {
            if (date)
                return moment(date).format("MM/DD/YYYY hh:mm");
            else
                return '01/01/01'
        },
        sendMessage() {
            axios.post(this.messages.path, {
                csrf: this.csrf,
                message: this.message
            }, {
                headers: {
                    'Accept': 'application/json'
                },

            }).then(response => {

                this.messages.data.push(response.data)

            }).catch(error => {

            }).finally(() => {
                this.message = null
            })

        },
        getMessages() {
            axios.get(this.messages.next_page_url, {
                headers: {
                    'Accept': 'application/json'
                }
            }).then(response => {
                this.messages.path = response.data.path
                response.data.data.reverse()
                this.messages.data.unshift(...response.data.data)
                this.messages.next_page_url = response.data.next_page_url

            })
        },

        getRooms() {
            axios.get(this.rooms.next_page_url, {
                headers: {
                    'Accept': 'application/json'
                }
            }).then(response => {
                this.rooms.data.push(...response.data.data)
                this.rooms.next_page_url = response.data.next_page_url

            })
        }
    },
    created() {
        if (this.currentRoom) {
            window.Echo.private('chat.' + this.currentRoom.id)
                .listen('NewCurrentChatMessage', (e) => {
                    this.messages.data.push(e.message);
                });
        }
    },
    mounted() {

        if (this.currentRoom) {
            this.messages.next_page_url = '/chat/' + this.currentRoom.id + '/messages'
            //this.connect()
            this.getMessages()
        }

        this.getRooms()


    }
}
</script>

<style scoped>

</style>
