<template>
<input type="number" v-model.number="prop" :name="name" class="form-control" min="0"  @keypress="onlyNumber($event)">
</template>

<script>
export default {
    name: "NumberComponent",
    props:{
        prop:{
            type: Number,
            default: 0
        },
        name:{
            type: String
        }
    },
    methods:{
        onlyNumber($event){
            const keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if (keyCode < 48 || keyCode > 57) {
                $event.preventDefault();
            }
        }
    }
}
</script>

<style scoped>

</style>
