<template>
<textarea style="display: none" name="selected_subjects">{{startValues}}</textarea>
    <div v-for="category in categories">
        <div v-if="category.subjects">
            <h4> {{ category.name }}</h4>
            <div class="row">
                <div class="col-4" v-for="subject in category.subjects">
                    <input type="checkbox" class="form-check-input"

                           :id="category.id + '_'+ subject.id"
                           :checked="startValues.includes(subject.pivot.id)"
                                    :value="subject.pivot.id"
                           v-model="startValues"

                    >
                    {{ subject.name }}  <br>
                    <div  v-show="startValues.includes(subject.pivot.id)"><label>цена  руб./ч.</label>
                    <input :disabled="!startValues.includes(subject.pivot.id)"  :name="'prices['+subject.pivot.id +']'"

                    v-model=" prices[subject.pivot.id]"
                    >
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "SelectSubject",
    props:{
        prices:{
            type: Object,
            default: {}
        },
        categories:{
            type: Array
        },
        startValues:{
            type: Array,
            default: []
        },


    },
    data(){
        return{
            selections:[]

        }
    },
    methods:{
        changeVal(categoryId, subjectId,event){
         //   console.log(event.target.checked)
            const index = this.selections.findIndex(obj => obj.id === categoryId)
            if (index === -1) {
                return
            }
            if (event.target.checked)
                this.selections[index].values.push(subjectId)
            else
            {
               const myIndex = this.selections[index].values.indexOf(subjectId)
                if (myIndex !== -1)
                 this.selections[index].values.splice(myIndex, 1)
            }
            // const index = this.selections.findIndex(obj => obj.id == categoryId)
            // if (index === -1) {
            //     return
            // }
            // else
            //    this.categories[index].subjects=
             console.log(JSON.stringify(this.selections))
         }
    },
    mounted() {
        for (let category of this.categories)
            this.selections.push({
                id : category.id,
                values: []
            })
    }

}
</script>

<style scoped>

</style>
