<template>
    <div class="container">
    <div class="container bg-light mb-3" style="border: 1px solid #000000; " v-for="review in reviews.data">
        <div class="row border-bottom">
            <div class="col">{{review.author.name}} {{review.author.last_name}}</div>
            <div class="col text-end">оценка: {{review.score}} </div>
        </div>
        <div class="row"> {{review.comment}}</div>
    </div>
    <button class="btn btn-info">Загрузить еще</button>
    </div>
</template>

<script>
export default {
    name: "TeacherReview",
    props: {
        reviews: {
            type: Object
        }
    }
}
</script>

<style scoped>

</style>
